@import '../../styles/_variables';

.form{
    width: 100%;
    color: inherit;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .inputGroup{
            width: 100%;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            label{
                font-size: 0.75rem;
                font-weight: 200;
                padding-left: 1rem;
                margin-bottom: 1rem;
            }

            input{
                background: transparent;
                border: none; outline: none; padding: 0;
                margin: 0;
                color: white;
                padding-left: 1rem;
            }

            &.inline{
                margin-top: -0.5rem !important;
                padding-bottom: 1.5rem;
                display: unset;

                label,input{
                    width: fit-content;
                    display: inline;
                }
                input[type='checkbox']{
                    margin-left: 0.5rem;
                    -webkit-appearance:none;
                    padding: 0.2rem 0.8rem;
                    background:white;
                    border-radius: 3px;
                    border:2px solid rgba(0,0,0,0.3);
                    cursor: pointer;
                    position: relative;

                    &:hover{
                        background: $secondary;
                    }

                    &:after{
                        content: "\f00c";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        //border: 1px solid red;
                        color: $background;
                        font-size: 1.4rem;
                        position: absolute;
                        left: 0.08rem; top: -0.25rem;
                        opacity: 0;
                        transition: all 0.3s ease;
                    }
                }
                input[type='checkbox']:checked {
                    background: $secondary;

                    &:after{
                        opacity: 1;
                    }
                }
            }
            
        }

        .recaptcha{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: -1.5rem;
            margin-bottom: 1rem !important;
            padding-bottom: 0.5rem;

            span{
                font-size: 1rem;
                font-weight: 200;
            }

            .show{
                display: unset !important;                
            }
            .hidden{
                display: none !important;                
            }
        }

        .messageGroup{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            &.hidden{
                display: none;
                margin-bottom: none !important;
            }
            &.show{
                display: unset !important;
                margin-bottom: 1rem !important;
            }

            .success, .error{
                border: 1px solid rgba(0,0,0,0.2);
                padding: 0.3rem 0.66rem 0.5rem 0.66rem;
                color: $background;
                font-family: inherit;
                font-weight: 200;
                font-size: 1rem;
            }
            .success{
                background: $teamOne;
            }
            .error{
                background: $terciary;
            }

        }

        .buttonGroup{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            *{transition: all 0.3s ease;}

            .forHover{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                cursor: pointer;

                &:hover{
                    button:first-of-type{
                        color: $secondary;
                        transform: translateX(0.3rem);
                    }
                    i{
                        color:white;
                    }
                }
            }

            button{
                background: transparent;
                color: white;
                border: none; outline: none;
                font-weight: 800;
                font-size: 1rem !important;

                &:first-of-type{
                    padding: 0.5rem 0.8rem;
                }
            }

            i{
                color: $secondary;
                font-size: 2.65rem;
            }
            
        }

    }
    
}