.demo {
  padding: 3rem 3rem 5rem 3rem;
  min-height: 80vh;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  color: #f8f8f8 !important;
}

.demo .pageTitle {
  margin-bottom: 3rem;
}

.demo .missions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.demo .missions .mission {
  background: #292929;
  -webkit-box-shadow: 0px 6px 12px 0px #00000021;
          box-shadow: 0px 6px 12px 0px #00000021;
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-height: 13rem;
}

.demo .missions .mission * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.demo .missions .mission.selected {
  border: 2px solid #4CC0FB;
}

.demo .missions .mission.locked {
  opacity: 0.5;
  cursor: unset;
}

.demo .missions .mission.locked:before {
  content: "\f023";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  position: absolute;
  top: 2px;
  left: 0;
  width: 30px;
  height: 30px;
  color: white;
}

.demo .missions .mission.locked:hover {
  border: 2px solid transparent;
  -webkit-transform: none;
          transform: none;
}

.demo .missions .mission.locked:hover .title {
  color: #f8f8f8;
}

.demo .missions .mission:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.demo .missions .mission:hover .title {
  color: #4CC0FB;
}

.demo .missions .mission .title {
  font-weight: bold;
  font-size: 1.1rem;
}

.demo .missions .mission .time {
  opacity: 0.5;
  font-size: 0.85rem;
}

.demo .missions .mission .skills .skill {
  display: inline-block;
  background: #4CC0FB;
  border-radius: 16px;
  padding: 0.2rem 1rem;
  margin: 0.25rem;
}

.demo .btnHolder {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo .btnHolder .btn {
  background: #4CC0FB;
  border: none;
  padding: 0.6rem 6rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 12px 0px #00000021;
          box-shadow: 0px 6px 12px 0px #00000021;
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.demo .btnHolder .btn:hover {
  background: #F37021;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.demo .btnHolder .btn:disabled {
  background: rgba(255, 255, 255, 0.7);
  -webkit-transform: unset;
          transform: unset;
}
/*# sourceMappingURL=demo.module.css.map */