@import '../_variables.scss';

.sobre{
    background: url('/ihunter/bg.png');
    background-size: cover;
    background-position: top center;
    margin: 0;
    min-height: 80vh;
    display: grid;
    gap: 3rem;
    grid-template-columns: 65% 35%;
    padding: 4rem 11rem 6rem 8rem;

    h3{
        font-family: 'Orbitron', sans-serif;
        font-weight: 100;
    }

    .panel{
        padding: 2rem;
        border-radius: 1rem;
        background: rgba( 0, 27, 41, 0.45 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 2rem );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        overflow: hidden;
    }

    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        position: relative;

        &.full{
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .robot{
            width: 100%;
        }

        .skillGame{
            width: 60%;
            margin: 0 auto;
        }

        .logos{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;

            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                position: relative;

                a{
                    width: 45%;

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}