.loading{
    *{font-size: 2rem;}
}

.animation{
    *{cursor: default !important;}
    overflow: hidden;

    div{
        svg{
            width: auto !important;
            height: 100% !important;
            max-height: 40vh !important;
        }
    }
}