@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes pulseMobile {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes pulseMobile {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes moveRight {
  from {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  to {
    -webkit-transform: translateX(0.3rem) scale(1.2);
            transform: translateX(0.3rem) scale(1.2);
  }
}

@keyframes moveRight {
  from {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  to {
    -webkit-transform: translateX(0.3rem) scale(1.2);
            transform: translateX(0.3rem) scale(1.2);
  }
}

.slider {
  width: 100%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  position: relative;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  z-index: 10;
  -webkit-transition: all 0.6s ease !important;
  transition: all 0.6s ease !important;
  background-color: white;
  color: black;
  border-radius: 1.5rem 0 0 0;
  -webkit-box-shadow: 0px 0px 12.82003px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 12.82003px rgba(0, 0, 0, 0.25);
}

.slider.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.slider .slide {
  width: 100vw !important;
  height: auto !important;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease !important;
  transition: all 1s ease !important;
}

.slider .slide .wrapper {
  width: 100%;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  padding: 1rem 5rem;
}

.slider .slide .wrapper .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-height: 40vh;
  position: relative;
}

.slider .slide .wrapper .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.slider .slide .wrapper .text .title {
  height: auto;
  padding: .75rem 1.5rem;
  background-color: #F5F0EB;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border-radius: 28px;
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.slider .slide .wrapper .text .alternatives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: .65rem;
  position: relative;
  min-width: 26vw;
}

.slider .slide .wrapper .text .alternatives .alternative {
  background: #EA1D2C;
}

.slider .slide .wrapper .text .alternatives button {
  width: 100%;
  font-size: 1.2rem;
  background: #EA1D2C;
  -webkit-box-shadow: 3.52504px 4.23005px 2.82003px rgba(0, 0, 0, 0.25);
          box-shadow: 3.52504px 4.23005px 2.82003px rgba(0, 0, 0, 0.25);
  border: 0.25rem solid #EA1D2C;
  border-radius: 28.2003px;
  color: #FFFFFF;
  padding: 0.25rem 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.slider .slide .wrapper .text .alternatives button:hover {
  background-color: white !important;
  color: #EA1D2C;
  border-color: #EA1D2C;
}

.slider .slide .wrapper .text .alternatives button.selected {
  background-color: white !important;
  color: #EA1D2C;
  -webkit-box-shadow: 1.52504px 2.23005px 10.82003px rgba(0, 0, 0, 0.25);
          box-shadow: 1.52504px 2.23005px 10.82003px rgba(0, 0, 0, 0.25);
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.slider .slide .wrapper .text .alternatives .confirm {
  width: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 1.5rem;
  background-color: white;
  color: #EA1D2C;
  position: relative;
  padding-right: 3rem;
}

.slider .slide .wrapper .text .alternatives .confirm:disabled {
  -webkit-filter: grayscale(1) brightness(1.5);
          filter: grayscale(1) brightness(1.5);
}

.slider .slide .wrapper .text .alternatives .confirm:disabled:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: not-allowed;
}

.slider .slide .wrapper .text .alternatives .confirm:disabled:hover i {
  -webkit-animation-name: unset;
          animation-name: unset;
}

.slider .slide .wrapper .text .alternatives .confirm i {
  position: absolute;
  top: .4rem;
  font-size: 1.5rem;
  right: 0.7rem;
}

.slider .slide .wrapper .text .alternatives .confirm:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider .slide .wrapper .text .alternatives .confirm:hover i {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-name: moveRight;
          animation-name: moveRight;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@media (max-width: 1024px) {
  .slider .slide .wrapper {
    padding: 1rem 2rem 0 0.5rem;
  }
  .slider .slide .wrapper .text .title {
    padding: 0.5rem 1rem;
  }
  .slider .slide .wrapper .text .alternatives {
    gap: 0.25rem;
  }
  .slider .slide .wrapper .text .alternatives .confirm {
    margin-top: 0.5rem;
  }
}

@media (max-width: 640px) {
  .slider .slide .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider .slide:global(.moveLeft_0vw) {
  left: 0vw !important;
}

.slider .slide:global(.moveLeft_100vw) {
  left: 100vw !important;
}

.slider .slide:global(.moveLeft_-100vw) {
  left: -100vw !important;
}

.slider .slide:global(.moveLeft_200vw) {
  left: 200vw !important;
}

.slider .slide:global(.moveLeft_-200vw) {
  left: -200vw !important;
}

.slider .slide:global(.moveLeft_300vw) {
  left: 300vw !important;
}

.slider .slide:global(.moveLeft_-300vw) {
  left: -300vw !important;
}

.slider .slide:global(.moveLeft_400vw) {
  left: 400vw !important;
}

.slider .slide:global(.moveLeft_-400vw) {
  left: -400vw !important;
}

.slider .slide:global(.moveLeft_500vw) {
  left: 500vw !important;
}

.slider .slide:global(.moveLeft_-500vw) {
  left: -500vw !important;
}

.slider .slide:global(.moveLeft_600vw) {
  left: 600vw !important;
}

.slider .slide:global(.moveLeft_-600vw) {
  left: -600vw !important;
}

.slider .slide:global(.moveLeft_700vw) {
  left: 700vw !important;
}

.slider .slide:global(.moveLeft_-700vw) {
  left: -700vw !important;
}

.slider .slide:global(.moveLeft_800vw) {
  left: 800vw !important;
}

.slider .slide:global(.moveLeft_-800vw) {
  left: -800vw !important;
}

.slider .slide:global(.moveLeft_900vw) {
  left: 900vw !important;
}

.slider .slide:global(.moveLeft_-900vw) {
  left: -900vw !important;
}

.slider .slide:global(.moveLeft_1000vw) {
  left: 1000vw !important;
}

.slider .slide:global(.moveLeft_-1000vw) {
  left: -1000vw !important;
}

.slider .slide:global(.moveLeft_1100vw) {
  left: 1100vw !important;
}

.slider .slide:global(.moveLeft_-1100vw) {
  left: -1100vw !important;
}

.slider .slide:global(.moveLeft_1200vw) {
  left: 1200vw !important;
}

.slider .slide:global(.moveLeft_-1200vw) {
  left: -1200vw !important;
}

.slider .slide:global(.moveLeft_1300vw) {
  left: 1300vw !important;
}

.slider .slide:global(.moveLeft_-1300vw) {
  left: -1300vw !important;
}

.slider .slide:global(.moveLeft_1400vw) {
  left: 1400vw !important;
}

.slider .slide:global(.moveLeft_-1400vw) {
  left: -1400vw !important;
}

.slider .slide:global(.moveLeft_1400vw) {
  left: 1400vw !important;
}

.slider .slide:global(.moveLeft_-1400vw) {
  left: -1400vw !important;
}

.slider .slide:global(.moveLeft_1500vw) {
  left: 1500vw !important;
}

.slider .slide:global(.moveLeft_-1500vw) {
  left: -1500vw !important;
}

.slider .slide:global(.moveLeft_1600vw) {
  left: 1600vw !important;
}

.slider .slide:global(.moveLeft_-1600vw) {
  left: -1600vw !important;
}

.slider .slide:global(.moveLeft_1700vw) {
  left: 1700vw !important;
}

.slider .slide:global(.moveLeft_-1700vw) {
  left: -1700vw !important;
}

.slider .slide:global(.moveLeft_1800vw) {
  left: 1800vw !important;
}

.slider .slide:global(.moveLeft_-1800vw) {
  left: -1800vw !important;
}

.slider .slide:global(.moveLeft_1900vw) {
  left: 1900vw !important;
}

.slider .slide:global(.moveLeft_-1900vw) {
  left: -1900vw !important;
}

.slider .slide:global(.moveLeft_2000vw) {
  left: 2000vw !important;
}

.slider .slide:global(.moveLeft_-2000vw) {
  left: -2000vw !important;
}

.slider .slide:global(.moveLeft_2100vw) {
  left: 2100vw !important;
}

.slider .slide:global(.moveLeft_-2100vw) {
  left: -2100vw !important;
}

.slider .slide:global(.moveLeft_2200vw) {
  left: 2200vw !important;
}

.slider .slide:global(.moveLeft_-2200vw) {
  left: -2200vw !important;
}

.slider .slide:global(.moveLeft_2300vw) {
  left: 2300vw !important;
}

.slider .slide:global(.moveLeft_-2300vw) {
  left: -2300vw !important;
}

.slider .slide:global(.moveLeft_2400vw) {
  left: 2400vw !important;
}

.slider .slide:global(.moveLeft_-2400vw) {
  left: -2400vw !important;
}

.slider .slide:global(.moveLeft_2500vw) {
  left: 2500vw !important;
}

.slider .slide:global(.moveLeft_-2500vw) {
  left: -2500vw !important;
}

.slider .slide:global(.moveLeft_2600vw) {
  left: 2600vw !important;
}

.slider .slide:global(.moveLeft_-2600vw) {
  left: -2600vw !important;
}

.slider .slide:global(.moveLeft_2700vw) {
  left: 2700vw !important;
}

.slider .slide:global(.moveLeft_-2700vw) {
  left: -2700vw !important;
}

.slider .slide:global(.moveLeft_2800vw) {
  left: 2800vw !important;
}

.slider .slide:global(.moveLeft_-2800vw) {
  left: -2800vw !important;
}

.slider .slide:global(.moveLeft_2900vw) {
  left: 2900vw !important;
}

.slider .slide:global(.moveLeft_-2900vw) {
  left: -2900vw !important;
}

.slider .slide:global(.moveLeft_3000vw) {
  left: 3000vw !important;
}

.slider .slide:global(.moveLeft_-3000vw) {
  left: -3000vw !important;
}
/*# sourceMappingURL=newSlider.module.css.map */