@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes pulseMobile {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes pulseMobile {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes moveRight {
  from {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  to {
    -webkit-transform: translateX(0.3rem) scale(1.2);
            transform: translateX(0.3rem) scale(1.2);
  }
}

@keyframes moveRight {
  from {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  to {
    -webkit-transform: translateX(0.3rem) scale(1.2);
            transform: translateX(0.3rem) scale(1.2);
  }
}

.slider {
  width: 100%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 10;
  -webkit-transition: all 0.6s ease !important;
  transition: all 0.6s ease !important;
  background-color: #F9F2E8;
  color: black;
  border-radius: 1.5rem 1.5rem 0 0;
  -webkit-box-shadow: 0px 0px 12.82003px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 12.82003px rgba(0, 0, 0, 0.25);
}

.slider.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.slider .slide {
  width: 100% !important;
  height: -webkit-min-content !important;
  height: -moz-min-content !important;
  height: min-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
  -webkit-transition: all 1s ease !important;
  transition: all 1s ease !important;
}

.slider .slide.showSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slide.hideSlide {
  display: none;
}

.slider .slide .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  padding: 1rem 5rem;
}

.slider .slide .wrapper .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 1rem;
}

.slider .slide .wrapper .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  max-width: 960px;
}

.slider .slide .wrapper .text .title {
  height: auto;
  padding: .5rem 1.5rem;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border-radius: 28px;
  font-size: 1.2rem;
  color: #232323 !important;
}

.slider .slide .wrapper .text .alternatives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: .65rem;
  position: relative;
  min-width: 26vw;
}

.slider .slide .wrapper .text .alternatives .alternative {
  background: #EA1D2C;
}

.slider .slide .wrapper .text .alternatives button {
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid #890019;
  border-bottom: 6px solid #890019;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 16px;
  color: #F9F2E8;
}

.slider .slide .wrapper .text .alternatives button:hover {
  background-color: white;
  color: #EA1D2C;
  border-color: #EA1D2C;
}

.slider .slide .wrapper .text .alternatives button.selected {
  background-color: white !important;
  color: #EA1D2C;
  border-color: #EA1D2C;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.slider .slide .wrapper .text .alternatives .confirm {
  width: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 1.5rem;
  background-color: #FFCE45;
  color: #890019;
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.slider .slide .wrapper .text .alternatives .confirm:disabled {
  -webkit-filter: grayscale(1) brightness(1.5);
          filter: grayscale(1) brightness(1.5);
  background-color: transparent;
}

.slider .slide .wrapper .text .alternatives .confirm:disabled:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: not-allowed;
}

.slider .slide .wrapper .text .alternatives .confirm:disabled:hover i {
  -webkit-animation-name: unset;
          animation-name: unset;
}

.slider .slide .wrapper .text .alternatives .confirm i {
  font-size: 1.5rem;
}

.slider .slide .wrapper .text .alternatives .confirm:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider .slide .wrapper .text .alternatives .confirm:hover i {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-name: moveRight;
          animation-name: moveRight;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@media (max-width: 1024px) {
  .slider .slide .wrapper {
    padding: 1rem 2rem 0 0.5rem;
  }
  .slider .slide .wrapper .text .title {
    padding: 0.5rem 1rem;
  }
  .slider .slide .wrapper .text .alternatives {
    gap: 0.25rem;
  }
  .slider .slide .wrapper .text .alternatives .confirm {
    margin-top: 0.5rem;
  }
}

@media (max-width: 640px) {
  .slider .slide .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=newSlider.module.css.map */