$mainRed: #EA1D2C;

@keyframes pulse {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.1)
    }
}

@keyframes pulseMobile {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.05)
    }
}

@keyframes moveRight {
    from {
        transform: translateX(0) scale(1);
    }

    to {
        transform: translateX(0.3rem) scale(1.2);
    }
}

.slider {
    width: 100%;
    height: auto;
    min-height: 50vh;
    position: relative;
    z-index: 10;
    transition: all 0.6s ease !important;
    background-color: white;
    color: black;
    border-radius: 1.5rem 0 0 0;
    box-shadow: 0px 0px 12.82003px rgba(0, 0, 0, 0.25);

    &.loading {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    .slide {
        width: 100% !important;
        height: auto !important;
        min-height: 100%;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 11;
        transition: all 1s ease !important;

        &.showSlide{
            display: flex;
        }
        &.hideSlide{
            display: none;
        }

        .wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 2rem;
            padding: 1rem 5rem;

            .image {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .title {
                    height: auto;
                    padding: .5rem 1.5rem;
                    z-index: 20;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    border-radius: 28px;
                    font-weight: bold;
                    font-size: 1.2rem;
                }

                .alternatives {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: .65rem;
                    position: relative;
                    min-width: 26vw;

                    .alternative {
                        background: #EA1D2C;
                    }

                    button {
                        width: 100%;
                        font-size: 1.2rem;
                        background: #EA1D2C;
                        box-shadow: 3.52504px 4.23005px 2.82003px rgba(0, 0, 0, 0.25);
                        border: 0.25rem solid $mainRed;
                        border-radius: 28.2003px;
                        color: #FFFFFF;
                        padding: 0.25rem 2rem;
                        transition: all 0.3s ease;
                        cursor: pointer;

                        &:hover {
                            background-color: white !important;
                            color: $mainRed;
                            border-color: $mainRed;
                        }

                        &.selected {
                            background-color: white !important;
                            color: $mainRed;
                            box-shadow: 1.52504px 2.23005px 10.82003px rgba(0, 0, 0, 0.25);

                            animation-duration: 0.6s;
                            animation-name: pulse;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                        }
                    }

                    .confirm {
                        width: auto;
                        align-self: flex-end;
                        margin-top: 1.5rem;
                        background-color: white;
                        color: $mainRed;
                        position: relative;
                        padding-right: 3rem;

                        &:disabled {
                            filter: grayscale(1) brightness(1.5);
                        }

                        &:disabled:hover {
                            transform: scale(1);
                            cursor: not-allowed;
                            i{animation-name: unset}
                        }

                        i {
                            position: absolute;
                            top: .4rem;
                            font-size: 1.5rem;
                            right: 0.7rem;
                        }

                        &:hover {
                            transform: scale(1.1);

                            i {
                                animation-duration: 0.4s;
                                animation-name: moveRight;
                                animation-iteration-count: infinite;
                                animation-direction: alternate;
                            }
                        }
                    }
                }
            }


        }
    }

}

@media (max-width: 1024px) {
    .slider {
        .slide {
            .wrapper {
                padding: 1rem 2rem 0 0.5rem;

                .text {
                    .title {
                        padding: 0.5rem 1rem;
                    }
                    .alternatives{
                        gap: 0.25rem;

                        .confirm{
                            margin-top: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .slider {
        .slide {
            .wrapper {
                flex-direction: column;
            }
        }
    }
}

.slider .slide:global(.moveLeft_0vw) {
    left: 0vw !important;
}

.slider .slide:global(.moveLeft_100vw) {
    left: 100vw !important;
}

.slider .slide:global(.moveLeft_-100vw) {
    left: -100vw !important;
}

.slider .slide:global(.moveLeft_200vw) {
    left: 200vw !important;
}

.slider .slide:global(.moveLeft_-200vw) {
    left: -200vw !important;
}

.slider .slide:global(.moveLeft_300vw) {
    left: 300vw !important;
}

.slider .slide:global(.moveLeft_-300vw) {
    left: -300vw !important;
}

.slider .slide:global(.moveLeft_400vw) {
    left: 400vw !important;
}

.slider .slide:global(.moveLeft_-400vw) {
    left: -400vw !important;
}

.slider .slide:global(.moveLeft_500vw) {
    left: 500vw !important;
}

.slider .slide:global(.moveLeft_-500vw) {
    left: -500vw !important;
}

.slider .slide:global(.moveLeft_600vw) {
    left: 600vw !important;
}

.slider .slide:global(.moveLeft_-600vw) {
    left: -600vw !important;
}

.slider .slide:global(.moveLeft_700vw) {
    left: 700vw !important;
}

.slider .slide:global(.moveLeft_-700vw) {
    left: -700vw !important;
}

.slider .slide:global(.moveLeft_800vw) {
    left: 800vw !important;
}

.slider .slide:global(.moveLeft_-800vw) {
    left: -800vw !important;
}

.slider .slide:global(.moveLeft_900vw) {
    left: 900vw !important;
}

.slider .slide:global(.moveLeft_-900vw) {
    left: -900vw !important;
}

.slider .slide:global(.moveLeft_1000vw) {
    left: 1000vw !important;
}

.slider .slide:global(.moveLeft_-1000vw) {
    left: -1000vw !important;
}

.slider .slide:global(.moveLeft_1100vw) {
    left: 1100vw !important;
}

.slider .slide:global(.moveLeft_-1100vw) {
    left: -1100vw !important;
}

.slider .slide:global(.moveLeft_1200vw) {
    left: 1200vw !important;
}

.slider .slide:global(.moveLeft_-1200vw) {
    left: -1200vw !important;
}

.slider .slide:global(.moveLeft_1300vw) {
    left: 1300vw !important;
}

.slider .slide:global(.moveLeft_-1300vw) {
    left: -1300vw !important;
}

.slider .slide:global(.moveLeft_1400vw) {
    left: 1400vw !important;
}

.slider .slide:global(.moveLeft_-1400vw) {
    left: -1400vw !important;
}

.slider .slide:global(.moveLeft_1400vw) {
    left: 1400vw !important;
}

.slider .slide:global(.moveLeft_-1400vw) {
    left: -1400vw !important;
}

.slider .slide:global(.moveLeft_1500vw) {
    left: 1500vw !important;
}

.slider .slide:global(.moveLeft_-1500vw) {
    left: -1500vw !important;
}

.slider .slide:global(.moveLeft_1600vw) {
    left: 1600vw !important;
}

.slider .slide:global(.moveLeft_-1600vw) {
    left: -1600vw !important;
}

.slider .slide:global(.moveLeft_1700vw) {
    left: 1700vw !important;
}

.slider .slide:global(.moveLeft_-1700vw) {
    left: -1700vw !important;
}

.slider .slide:global(.moveLeft_1800vw) {
    left: 1800vw !important;
}

.slider .slide:global(.moveLeft_-1800vw) {
    left: -1800vw !important;
}

.slider .slide:global(.moveLeft_1900vw) {
    left: 1900vw !important;
}

.slider .slide:global(.moveLeft_-1900vw) {
    left: -1900vw !important;
}

.slider .slide:global(.moveLeft_2000vw) {
    left: 2000vw !important;
}

.slider .slide:global(.moveLeft_-2000vw) {
    left: -2000vw !important;
}

.slider .slide:global(.moveLeft_2100vw) {
    left: 2100vw !important;
}

.slider .slide:global(.moveLeft_-2100vw) {
    left: -2100vw !important;
}

.slider .slide:global(.moveLeft_2200vw) {
    left: 2200vw !important;
}

.slider .slide:global(.moveLeft_-2200vw) {
    left: -2200vw !important;
}

.slider .slide:global(.moveLeft_2300vw) {
    left: 2300vw !important;
}

.slider .slide:global(.moveLeft_-2300vw) {
    left: -2300vw !important;
}

.slider .slide:global(.moveLeft_2400vw) {
    left: 2400vw !important;
}

.slider .slide:global(.moveLeft_-2400vw) {
    left: -2400vw !important;
}

.slider .slide:global(.moveLeft_2500vw) {
    left: 2500vw !important;
}

.slider .slide:global(.moveLeft_-2500vw) {
    left: -2500vw !important;
}

.slider .slide:global(.moveLeft_2600vw) {
    left: 2600vw !important;
}

.slider .slide:global(.moveLeft_-2600vw) {
    left: -2600vw !important;
}

.slider .slide:global(.moveLeft_2700vw) {
    left: 2700vw !important;
}

.slider .slide:global(.moveLeft_-2700vw) {
    left: -2700vw !important;
}

.slider .slide:global(.moveLeft_2800vw) {
    left: 2800vw !important;
}

.slider .slide:global(.moveLeft_-2800vw) {
    left: -2800vw !important;
}

.slider .slide:global(.moveLeft_2900vw) {
    left: 2900vw !important;
}

.slider .slide:global(.moveLeft_-2900vw) {
    left: -2900vw !important;
}

.slider .slide:global(.moveLeft_3000vw) {
    left: 3000vw !important;
}

.slider .slide:global(.moveLeft_-3000vw) {
    left: -3000vw !important;
}