@keyframes pulse {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.1)
    }
}

@keyframes pulseMobile {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.05)
    }
}

@keyframes moveRight {
    from {
        transform: translateX(0) scale(1);
    }

    to {
        transform: translateX(0.3rem) scale(1.2);
    }
}

.slider {
    width: 100vw;
    height: 45vh !important;
    position: relative;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    z-index: 10;
    transition: all 0.6s ease !important;
    background-color: white;
    color: black;
    border-radius: 1.5rem 0 0 0;
    box-shadow: 0px 0px 12.82003px rgba(0, 0, 0, 0.25);

    /* &.mapOpen {
        .slide{
            .wrapper{
                .alternatives{
                    .alternative{
                        pointer-events: none;
                    }
                }
            }
        }
    } */

    &.loading {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    .slide {
        width: 100vw !important;
        height: auto !important;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 11;
        top: 0;
        left: 0;
        transition: all 1s ease !important;

        .wrapper {
            width: 100%;
            height: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 1rem 3rem;

            .image {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            .alternatives {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 1rem;
                position: relative;

                .bubble {
                    width: 100%;
                    height: auto;
                    padding: 2rem;
                    background-color: #F5F0EB;
                    //aspect-ratio: 16/9;
                    //background-image: url('/bubble.svg');
                    //background-size: contain;
                    //background-repeat: no-repeat;
                    z-index: 20;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    border-radius: 28px;

                    .text {
                        width: 100%;
                        height: 100%;
                        overflow-y: scroll;
                        font-size: 1.2rem;
                        font-weight: bold;

                        /* width */
                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }

                    .buttons {
                        i {
                            font-size: 2rem
                        }
                    }
                }

                .alternative{
                    background: #EA1D2C;
                }

                button {
                    width: 100%;
                    font-size: 1.2rem;
                    background: #EA1D2C;
                    box-shadow: 3.52504px 4.23005px 2.82003px rgba(0, 0, 0, 0.25);
                    border: none;
                    border-radius: 28.2003px;
                    color: #FFFFFF;
                    padding: 0.5rem 2rem;
                    transition: all 0.3s ease;
                    cursor: pointer;

                    &:hover{
                        filter: brightness(1.35);
                    }

                    &.selected {
                        background-color: black !important;
                        color: white;
                        box-shadow: 1.52504px 2.23005px 10.82003px rgba(0, 0, 0, 0.25);

                        animation-duration: 0.6s;
                        animation-name: pulse;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                    }
                }

                .confirm {
                    width: auto;
                    align-self: flex-end;
                    margin-top: 1.5rem;
                    background-color: blueviolet;
                    position: relative;
                    padding-right: 3rem;

                    &:disabled{
                        filter: grayscale(1) brightness(1.5);
                    }

                    i {
                        position: absolute;
                        top: .6rem;
                        font-size: 1.5rem;
                        right: 0.7rem;
                    }

                    &:hover {
                        transform: scale(1.1);

                        i {
                            animation-duration: 0.4s;
                            animation-name: moveRight;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                        }
                    }
                }
            }
        }

        &:global(.moveLeft_0vw) {
            left: 0vw !important;
        }

        @for $i from 100 through 3000 {
            &:global(.moveLeft_#{$i}vw) {
                left: #{$i}vw !important;
            }

            &:global(.moveLeft_-#{$i}vw) {
                left: -#{$i}vw !important;
            }
        }
    }

}

@media (max-width: 900px) {

    .slider{
        .slide{
            overflow: auto;
            padding: 1rem;
            padding-bottom: 2rem;
            margin-top: 8vh;
            background: red !important;

            .wrapper{
                flex-direction: column !important;
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;

                .image{display: none;}
                .alternatives{
                    padding-top: unset !important;
                    height: auto;
                    align-items: center;

                    button.selected{
                        animation-name: pulseMobile;
                    }

                    .bubble{
                        position: relative !important;
                        top: unset !important;
                        left: unset !important;
                        width: 100%;
                        height: auto;
                        aspect-ratio: unset !important;
                        padding: 1rem;
                        background-image: unset !important;
                    }

                    .confirm{
                        font-size: 1.5rem;
                        padding-right: 4rem;
                        i {
                            top: .6rem;
                            font-size: 2rem;
                            right: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}