.carousel{
    width: 102.5%;
    margin: 0 -1rem 0 -1rem;
    //border: 1px solid red;

    .slide{
        padding: 0 1rem;

        img{
            width: 100%;
            filter: grayscale(1);
        }
    }
}