.alert{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #F05D5E;
    color: black;
    padding: 1rem;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 6px 12px 0px #00000021;

    &.hidden{
        right: -100vw;
        //right: 1rem;
    }
    &.show{
        right: 1rem;
    }

    &.success{
        background-color: #A2FAA3 !important;
        .icon{
            border-color: #067408 !important;
            i{color: #067408 !important;}
        }
    }

    .icon{
        border: 2px solid #950E0E;
        width: 3rem; height: 3rem;
        border-radius: 3rem;
        display: flex;
        justify-content:center;
        align-items:center;

        i{
            font-size: 1.5rem;
            color: #950E0E;
        }
    }
}