.playerJourney {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
    background: white;
    color: black;
    z-index: 20;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mapPage{
    background: #890019;
    height: 100vh;
    display: flex;
    flex-direction: column;
}