@import '../styles/_variables';

.start {
    background-color: $mainRed;
    min-height: 100vh;

    :global(.col), :global(.row){
        max-width: 1200px;
    }

    .mainText{
        background-color: rgba(0,0,0,0.2);
        color: #fff;
        border-radius: 0.75rem;
    }

    .startButton {
        padding: 1.25rem 1rem;
        transition: all 0.3s ease;
        text-decoration: none;
        line-height: 1.5rem;
        width: stretch;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;

        .image{
            position: relative;
            img{transition: all 0.3s ease;}
        }

        .innerText{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            line-height: 2rem;
            font-weight: 400;
            font-size: 2rem;
            text-align: center;
            text-transform: uppercase;

            .small {
                margin-top: 0.5rem;
                font-size: 0.9rem !important;
                font-style: italic;
            }
        }

        &:hover {
            transform: translateY(-1rem);
            //font-style: italic;
            z-index: 30;
            font-weight: bold;
            box-shadow: 15px 16px 4px rgba(0, 0, 0, 0.25);

            .image{
                img{
                    transform: scale(1.2);
                }
            }
        }
    }
    
}

@media (max-width: 768px) {
    .start {

        .startButton{
            flex-direction: column;
        }

    }
}