.start {
  width: 100%;
  min-height: 100vh;
  background-color: #EA1D2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.start .grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  margin: 0;
}

.start .grid .logo {
  position: relative;
  height: 6rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.start .grid .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 0 6rem;
  color: white;
  font-size: 1.2rem;
}

.start .grid .text .paragraph {
  background-color: white;
  color: #5C5C5C;
  border-radius: 20px;
  padding: 1rem 2rem;
  max-width: 900px;
}

.start .grid .text a {
  background: #FFFFFF;
  -webkit-box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 1.25rem 5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 2rem;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #EA1D2C;
  width: 100%;
}

.start .grid .text a.max {
  max-width: 35rem;
}

.start .grid .text a .small {
  margin-top: 0.5rem;
  font-size: 0.95rem !important;
  line-height: 1.5rem;
  font-style: italic;
}

.start .grid .text a:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  font-weight: bold;
  -webkit-box-shadow: 15px 16px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 15px 16px 4px rgba(0, 0, 0, 0.25);
}

.start .grid .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .start {
    height: auto;
    padding-bottom: unset;
  }
  .start .grid {
    height: auto;
  }
  .start .grid .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .start .grid .text {
    height: auto;
    padding: unset;
  }
  .start .grid .text a {
    padding: 2rem 1rem;
  }
  .start .grid .text a .small {
    margin-top: 0.4rem;
    font-size: 0.95rem !important;
    line-height: 1rem;
    font-style: italic;
  }
}
/*# sourceMappingURL=start.module.css.map */