$mainRed: #EA1D2C;

.start {
    width: 100%;
    min-height: 100vh;
    background-color: $mainRed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    .grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        margin: 0;

        .logo {
            position: relative;
            height: 6rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 3rem;
        }

        .text {
            display: flex;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            padding: 0 6rem;
            color: white;
            font-size: 1.2rem;

            .paragraph {
                background-color: white;
                color: #5C5C5C;
                border-radius: 20px;
                padding: 1rem 2rem;
                max-width: 900px
            }

            a {
                background: #FFFFFF;
                box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
                border-radius: 40px;
                padding: 1.25rem 5rem;
                transition: all 0.3s ease;
                line-height: 2rem;
                font-weight: 400;
                font-size: 2rem;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                color: $mainRed;
                width: 100%;

                &.max {
                    max-width: 35rem;
                }

                .small {
                    margin-top: 0.5rem;
                    font-size: 0.95rem !important;
                    line-height: 1.5rem;
                    font-style: italic;
                }

                &:hover {
                    transform: translateY(-1rem);
                    //font-style: italic;
                    font-weight: bold;
                    box-shadow: 15px 16px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}

@media (max-width: 768px) {
    .start {
        height: auto;
        padding-bottom: unset;

        .grid {
            height: auto;

            .logo {
                justify-content: center;
            }

            .text {
                height: auto;
                padding: unset;

                a {
                    padding: 2rem 1rem;
                    //line-height: 1.25rem;

                    .small {
                        margin-top: 0.4rem;
                        font-size: 0.95rem !important;
                        line-height: 1rem;
                        font-style: italic;
                    }
                }
            }
        }
    }
}