$mainRed: #EA1D2C;
$darkRed: #890019;
$light: #F9F2E8;
$lightShadow: #CDC8C2;
$gold: #FFCE45;

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1rem;

    div{position: relative;}

    .text{
        color: $light;
        font-size: 1rem;
    }

    .content{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .percent{
            background-color: $light;
            color: $mainRed;
            border-radius: 1rem;
            padding: 0 0.5rem;
            font-size: 1rem;
            z-index: 30;
            position: absolute;
            bottom: -0.3rem;
        }
    
        .progress {
            width: 80%;
        }
    
        .icon{
            position: absolute;
            margin-top: -0.25rem;
            transition: all 0.3s ease;
            z-index: 31;
            transform: scale(1.2);
            max-width: 40%;
    
            &:global(.animate1){
                transform: scale(1.5) rotate(25deg);
            }
            &:global(.animate2){
                transform: scale(1.5) rotate(-25deg);
            }
        }
    }
    
}

@media (max-width: 1024px) {
    .wrapper {
        .content{
            .icon{
                transform: scale(0.8) !important;
            }
        }

    }
}