$mainRed: #EA1D2C;
$darkRed: #890019;
$light: #F9F2E8;
$lightShadow: #CDC8C2;
$gold: #FFCE45;

.wrapper {
    display: flex;
    flex-direction: column;

    div{position: relative;}

    //*{outline: 1px solid black;}

    .text{
        display: flex;
        justify-content: flex-start;
        color: $light;
        font-size: 0.9rem;
        padding-left: 1rem;
        padding-bottom: 0.25rem;
    }

    .content{
        width: auto;
        min-width: 120px;

        .progress {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            .line{
                border: 1px solid $light;
                border-radius: 0.75rem;
            }

            .percent{
                position: absolute;
                padding-right: 0.35rem;
                font-size: 0.85rem;
            }

            .icon{
                position: absolute !important;
                left: -2.5rem;
                bottom: -1.6rem;
                transition: all 0.3s ease;
                z-index: 31;
                transform: scale(0.6);
        
                &:global(.animate1){
                    transform: scale(0.8) rotate(25deg);
                }
                &:global(.animate2){
                    transform: scale(0.8) rotate(-25deg);
                }
            }
        }
        
    }
    
}