.slick-slider{
    margin-bottom: 38px !important;
}
.slick-slide{
    opacity: 0 !important;
    transition: 0.2s;
}
.slick-active{
    opacity: 1 !important;
}

.slick-arrow::before{
    color: #78f978 !important;
}

.multiple{
    margin-bottom: 56px !important;

    .slick-list {
        margin: 0 -5px;
    }
    .slick-slide>div{
        padding: 0 5px;
        border: 1px solid white;

        .carouselItem{
            text-align: center;

            h3{
                font-size: 1.2rem;
                font-weight: bold;
            }
            img{
                width: 100%;
            }
        }
    }
}