$teamOne: #50F585;
$teamTwo: #50F585;
$teamThree: #50F585;
$teamFour: #50F585;
//$background: #202124;
$background: #141414;
$corLoja: #00FEFE;
$navHeight: 80px;

$primary:#001B29;
$secondary:#4CC0FB;
$terciary:#F37021;
//$navbarBg: #003652;
$navbarBg: #292929;
$textLight: #f8f8f8;