$primary:#001B29;
$secondary:#4CC0FB;
$terciary:#F37021;

.contato{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1200px;
    padding: 2rem;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;

    *{transition: all 0.3s ease;}

    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .col:first-of-type{

        .logos{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            div{
                width: calc(50% - 2rem);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                img{width: 100%;}

                .social{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    a{
                        i{
                            font-size: 1.5rem;
                            color: $secondary;   
                        }
                        &:hover i{
                            color: $terciary;
                        }
                    }
                    
                }
            }
        }
    }
}