@import './_variables.scss';

.confirm{
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    height: 80px;
    z-index: 110;
    background:rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;

    .fontSize{
        position: fixed;
        left: 30px; bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            margin: 0;
        }
        .buttons{
            button{
                padding: 3px 10px;
                i{
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
            button:first-of-type{
                margin-right: 5px;
            }
        }
    }
}

.container{
    margin-top: 80px;
    margin-bottom: 90px;
    padding: 0;
    width: 100%;
    min-height: calc(100vh - 80px);
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    
    .main{
        padding: 20px 30px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;

        .image{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            img{
                width: 100%;
                border-radius: 5px;
            }
        }

        .content{

            .title{
                width: 100%;
                background: rgba(0, 0, 0, 0.35);
                padding: 10px 16px;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.65);

                h4{
                    font-size: 1.2rem;
                    //font-style: italic;
                    line-height: calc(1ex / 0.33);
                    //color: $teamOne;
                    color: #E8EAED;
                    letter-spacing: .04rem;
                }
            }
            
            .alternatives{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: flex-start;
                align-items: center;
                margin-top: 20px;
                position: relative;

                .lockedByItem{
                    border: 3px solid $corLoja;
                }

                .alternativesNotLoading{
                    display: none;
                }
                .alternativesLoading{
                    z-index: 100;
                    background: rgba(0, 0, 0, 0.65);
                    position: absolute;
                    top: -2.5%; bottom: 0;
                    right: 0; left: -2.5%;
                    border-radius: 10px;
                    height: 105%;
                    width: 105%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    i{font-size: 3rem;}
                    p{
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
            
                .alternativesItem{
            
                    width: 100% !important;
                    text-align: center;
                    margin-bottom: 10px;
                    position: relative;
            
                    button{
                        width: 100% !important;
                    }
            
                }
            }
            
            
        }
    }
    .sidebarHolder{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 30px;

        .sidebar{
            width: 100%;
            height: auto;
            padding: 0;

            .buttonsSection{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .playerSection{
                border: unset !important;
                background: url('https://branching-stories.s3.amazonaws.com/FramePlayer.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                padding: 66px;
                padding-top: 60px;
                width: calc(506px * 0.8);
                height: calc(339px * 0.8);
                position: relative;
                margin-bottom: 20px;
                display: grid;
                grid-template-columns: 69% 31%;

                .infos{
                    font-weight: bold;
                    font-size: 1.1rem;
                    text-transform: uppercase;

                    .accent{
                        background: rgba(120,254,120,0.7);
                        //font-style: italic;
                        color: black;
                        padding: 1px 6px;
                        //text-shadow: 0 0 8px #fff, 0 0 12px #fff, 0 0 16px #78fe78, 0 0 20px #78fe78, 0 0 24px #78fe78, 0 0 28px #78fe78, 0 0 32px #78fe78;
                    }
                }

                .avatar{
                    img{
                        margin-top: -30px;
                        margin-left: -10px;
                        height: calc(339px * 0.55);
                    }
                }
            }

            .mapSection{
                border: unset !important;
                background: url('https://branching-stories.s3.amazonaws.com/mapa/FrameMapa.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                padding: 36px 56px;
                width: calc(506px * 0.8);
                height: calc(418px * 0.8);
                position: relative;
                margin-bottom: 20px;
            }

            .inventorySection{
                border: unset !important;
                background: url('https://branching-stories.s3.amazonaws.com/FrameInventory.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                padding: 36px 56px;
                width: calc(506px * 0.8);
                height: calc(325px * 0.8);
                position: relative;
            }

            .section{
                border: 1px solid white;
                padding: 10px 30px;
                margin-bottom: 10px;
            }
            .title{
                background: white;
                color: $background;
                padding: 0 30px;
                font-family: 'Orbitron';
                font-weight: 900;
                font-size: 1.2rem;

                &.teamOne{
                    background: $teamOne;
                }
                &.teamTwo{
                    background: $teamTwo;
                }
                &.teamThree{
                    background: $teamThree;
                }
                &.teamFour{
                    background: $teamFour;
                }
            }
        }
    }
}