@keyframes blink {
    from {
        filter: opacity(100%);
    }
    to {
        filter: opacity(50%);
    }
}

@keyframes scale {
    from {
        filter: opacity(100%);
        transform: scale(1);
    }
    to {
        filter: opacity(100%);
        transform: scale(1.1);
    }
}

.map{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btnLoja{
        background: url('https://branching-stories.s3.amazonaws.com/loja/LojaSelect.png') !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain !important;
        width: calc(257px * 0.7);
        height: calc(201px * 0.7);
        position: relative;
        padding: 0;
        border: unset !important;
        box-shadow: unset !important;
        transition: all 0.3s ease;
        animation: blink 1s ease-in-out infinite alternate;

        &:hover{
            transform: scale(1.1);
            animation: scale 1s ease-in-out infinite alternate;
        }

        img{
            width: 100%;
            margin: 0;
        }
    }
    
    .faseBar{
        position: absolute;
        bottom: 7px;
        left: 78px;
        width: calc(293px * 0.8);
        height: calc(129px * 0.8);

        img{
            width: 100%;
        }
    }

    
}