.playerSection{
    border: unset !important;
    background: url('https://branching-stories.s3.amazonaws.com/FramePlayer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 66px;
    padding-top: 60px;
    width: calc(506px * 0.8);
    height: calc(339px * 0.8);
    position: relative;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 69% 31%;

    .infos{
        font-weight: bold;
        font-size: 1.1rem;
        text-transform: uppercase;

        .accent{
            background: rgba(120,254,120,0.7);
            //font-style: italic;
            color: black;
            padding: 1px 6px;
            //text-shadow: 0 0 8px #fff, 0 0 12px #fff, 0 0 16px #78fe78, 0 0 20px #78fe78, 0 0 24px #78fe78, 0 0 28px #78fe78, 0 0 32px #78fe78;
        }
    }

    .avatar{
        img{
            margin-top: -30px;
            margin-left: -10px;
            height: calc(339px * 0.55);
        }
    }
}