.bg {
  background: url("https://branching-stories.s3.amazonaws.com/bg-start-v3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg .container {
  margin: 0 auto;
  margin-top: 80px;
  padding: 30px 0;
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 80px);
  height: 100%;
}

.bg .container .main {
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: #141414;
  border-radius: 30px;
  min-height: calc(100vh - 80px);
}

.bg .container .main .title {
  color: #50F585;
}

.bg .container .main p {
  text-align: center;
}

.bg .container .main .summary {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 60px;
  overflow: hidden;
}

.bg .container .main .summary .section {
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid black;
}

.bg .container .main .summary .section .highlight {
  margin-bottom: 14px;
  font-weight: bold;
}

.bg .container .main .summary .skills {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  border-bottom: 1px solid black;
}

.bg .container .main .summary .skills .title {
  font-weight: bold;
}

.bg .container .main .summary .skills .skill span {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.bg .container .main .summary .skills .description {
  grid-area: description;
}

.bg .container .main .userName {
  margin: 1rem;
  background-color: black;
  padding: 1rem 2rem;
}

.bg .container .main .userName i {
  margin-right: 0.5rem;
}

.bg .container .main .index {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.3rem;
}

.bg .container .main .section {
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 0 16px;
}

.bg .container .main .section .highlight {
  background-color: white;
  color: #141414;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 20px;
  margin: 0 auto;
  margin-top: -13px;
  margin-bottom: 5px;
  border-radius: 30px;
  font-size: 0.9rem;
}

.bg .container .main .section .highlight.big {
  margin-top: -18px;
  font-weight: bold;
  font-size: 1.2rem;
}

.bg .container .main .section .feedback {
  margin-top: 16px;
}

.bg .container .main .section .benefits {
  color: greenyellow;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.bg .container .main .section ul {
  list-style: none;
  margin-bottom: 20px;
  margin: 0 -34px;
  padding: 0;
}

.bg .container .main .section ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.bg .container .main .section ul li:before {
  content: "\f192";
  font-family: "Font Awesome 5 Free";
  color: greenyellow;
  font-size: 0.7rem;
  padding-right: 5px;
}

.bg .container .main .section .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg .container .main .section .cta i {
  font-size: 2.8rem;
  background-color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  color: black;
  margin-bottom: 10px;
}

.bg .container .main .section .cta p {
  color: greenyellow;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 3px;
}

.bg .container .main .alternative {
  background: #50F585;
  color: #141414;
  padding: 10px;
  margin-bottom: 30px;
}

.bg .container .main :global(.carousel-slider) {
  padding: 0px 50px 0 50px;
}

.bg .container .main :global(.control-dots) {
  display: none;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
}

.bg .container .main :global(.control-arrow) {
  opacity: 1;
  background: none;
}

.bg .container .main :global(.control-arrow:before) {
  border: unset !important;
  color: #50F585;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f138";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bg .container .main :global(.control-arrow:hover:before) {
  color: white;
}

.bg .container .main :global(.control-prev:before) {
  content: "\f137";
}

.bg .container .main :global(.carousel-status) {
  display: none;
}

.bg .container .main :global(.slide) {
  border: 1px solid #141414;
}

.bg .container .main :global(.skill_1), .bg .container .main :global(.skill_4) {
  color: cyan;
}

.bg .container .main :global(.skill_1) .title, .bg .container .main :global(.skill_4) .title {
  color: cyan;
}

.bg .container .main :global(.skill_2), .bg .container .main :global(.skill_5) {
  color: yellow;
}

.bg .container .main :global(.skill_2) .title, .bg .container .main :global(.skill_5) .title {
  color: yellow;
}

.bg .container .main :global(.skill_3), .bg .container .main :global(.skill_6) {
  color: greenyellow;
}

.bg .container .main :global(.skill_3) .title, .bg .container .main :global(.skill_6) .title {
  color: greenyellow;
}
/*# sourceMappingURL=Report.module.css.map */