.bg {
  background: url("https://branching-stories.s3.amazonaws.com/bg-start-v3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg .container {
  margin: 0 auto;
  margin-top: 80px;
  padding: 80px;
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 80px);
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title title' 'main player';
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.bg .container .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.bg .container .title .firework1 {
  position: absolute;
  left: -200px;
  top: -60px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.bg .container .title .firework2 {
  position: absolute;
  right: 0;
  top: -10px;
  width: 170px;
  -webkit-filter: hue-rotate(90deg);
          filter: hue-rotate(90deg);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.bg .container .title .firework3 {
  position: absolute;
  left: 35%;
  top: -50px;
  width: 100px;
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.bg .container .title .firework4 {
  position: absolute;
  right: 35%;
  top: -50px;
  width: 120px;
  -webkit-filter: hue-rotate(270deg);
          filter: hue-rotate(270deg);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.bg .container .title .firework5 {
  position: absolute;
  left: 70px;
  top: -40px;
  width: 110px;
  -webkit-filter: hue-rotate(220deg);
          filter: hue-rotate(220deg);
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.bg .container .main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  text-align: center;
}

.bg .container .main h1 {
  margin-bottom: 23px;
}

.bg .container .main h4 {
  margin-bottom: 20px;
}

.bg .container .main button {
  font-size: 1.3rem !important;
  padding: 10px 30px;
}

.bg .container .playerFrame {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: player;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=Review.module.css.map */