@import './_variables.scss';

.bg{
    background: url('https://branching-stories.s3.amazonaws.com/bg-start-v3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        margin-top: 80px;
        padding: 30px 0;
        width: 100%;
        height: auto;
        min-height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .video{
            width: 100%;
            max-width: 1200px;
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;

            p{
                font-size: 1.3rem;
                margin: -10px 0;
            }

            video{
                width: 640px;
                height: 360px;
                border-radius: 10px;
                overflow: hidden;
            }
        }

        .main{
            max-width: 960px;
            width: 70%;
            padding: 40px 50px;
            background: $background;
            border-radius: 10px;

            .title{
                text-align: center;
                color: $teamOne;
                font-size: 1.7rem;
                margin-bottom: 10px;
            }
            .contentSlider{

                .sliderItem{
                    padding: 10px 20px;
                    //border: 1px solid white;

                    ul{
                        margin-bottom: 30px;
                        padding-left: 20px;

                        li{
                            margin-bottom: 16px;

                            &::marker{
                                color: $teamOne;
                            }
                        }
                    }

                    .confirm{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button{
                            font-size: 1.3rem;
                            padding: 10px 30px;
                        }
                    }
                }

            }
        }

    }
}