@import './_variables.scss';

$glowStart: #C8FAF9;
$glowEnd: #00FFFF;

@keyframes text-glow {
    from {
      text-shadow: 0 0 8px #fff, 0 0 12px #fff, 0 0 16px #00FFFF, 0 0 20px #00FFFF, 0 0 24px #00FFFF, 0 0 28px #00FFFF, 0 0 32px #00FFFF;
    }
    to {
      text-shadow: 0 0 4px #fff, 0 0 8px #C8FAF9, 0 0 12px #C8FAF9, 0 0 16px #C8FAF9, 0 0 20px #C8FAF9, 0 0 24px #C8FAF9, 0 0 28px #C8FAF9;
    }
}
@keyframes box-glow {
    from {
        box-shadow: 0 0 8px #fff, 0 0 12px #fff, 0 0 16px #00FFFF, 0 0 20px #00FFFF, 0 0 24px #00FFFF, 0 0 28px #00FFFF, 0 0 32px #00FFFF;
    }
    to {
        box-shadow: 0 0 4px #fff, 0 0 8px #C8FAF9, 0 0 12px #C8FAF9, 0 0 16px #C8FAF9, 0 0 20px #C8FAF9, 0 0 24px #C8FAF9, 0 0 28px #C8FAF9;
    }
}
@keyframes move-panel {
    from {
        margin-top: -200px;
    }
    to {
        margin-top: 0;
    }
}
@keyframes move-panel-s {
    from {
        margin-right: -700px;
    }
    to {
        margin-right: 0;
    }
}

.store{
    display: grid;
    grid-template-columns: 55% 45%;

    .items{
        display: grid;
        gap: 12px;
        padding: 10px 0 0 10px;
        grid-template-columns: 1fr 1fr 1fr;

        .item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px 10px 5px 10px;
            cursor: pointer;
            text-align: center;
            background: rgba(0,0,0,0.5);
            border-radius: 10px;
            border: 2px solid rgba(0,0,0,0.6);

            img{
                width: 90%;
                max-width: 100px;
                max-height: 100px;
                margin-bottom: 10px;
            }
            h3{
                font-size: 1.2rem;
            }

            &.selected{
                animation: box-glow 1s ease-in-out infinite alternate;
                h3{
                    color: $glowEnd;
                }
            }
        }
    }

    .button{
        width: calc(282px * 1);
        height: calc(111px * 1);
        background: url('https://branching-stories.s3.amazonaws.com/loja/loja-btn-comprar-ativo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        border: none;
        transition: all 0.3s ease;

        &:disabled{
            background: url('https://branching-stories.s3.amazonaws.com/loja/loja-btn-comprar-disabled.png');
        }
        
        &:hover{
            transform: scale(1.1);
        }
    }

    .sidebar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding-right: 50px;

        .frame{
            padding: clamp(4vh, 36px, 50px) clamp(3.5vw, 58px, 6vw);
            width: calc(458px * 1.2);
            height: calc(151px * 1.2);
            max-width: 100%;
            background: url('https://branching-stories.s3.amazonaws.com/loja-frame.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.3s ease;

            display: flex;
            flex-direction: column;
            color: $background;
            position: relative;

            &.disabled{
                filter: grayscale(50);
                animation: move-panel 0.5s ease-in-out;
            }

            &.animateFrame{
                animation: move-panel-s 0.5s ease-in-out 1 alternate;
            }

            .title{
                font-size: 1.3rem;
                font-weight: bold;
            }
            .price{
                font-size: 1.2rem;
                font-weight: bold;
                position: absolute;
                right: 58px;
                bottom: 26px;
            }
        }

        .wallet{
            padding: 10px 22px;
            font-weight: bold;
            font-size: 1.2rem;
            margin-top: 30px;
        }
    }
}

.itemHighlight{
    background: blue;
    color: white;
    padding: 1px 3px;
}