$mainRed: #EA1D2C;
$darkRed: #890019;
$light: #F9F2E8;
$lightShadow: #CDC8C2;
$gold: #FFCE45;

@keyframes pulse {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.05)
    }
}

.parent {
    width: 100% !important;
    transition: all 0.6s ease;
    background: #890019;
    position: relative;
    display: flex;

    .col{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &:first-of-type{
            padding-left: 0.5rem;
            justify-content: flex-start;
        }
        &:last-of-type{
            padding-right: 0.5rem;
        }

        :global(.warning-popup){
            background-color: $darkRed;
            position: absolute;
            width: 12vw;
            right: -20vw;
            bottom: 0;
            border-radius: 0.75rem;

            animation-duration: 0.6s;
            animation-name: pulse;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            :global(.btn-ifood-light){
                position: absolute;
                right: 0;
                top: -2rem;
                cursor: pointer;
            }
        }
    }

    .buttonGroup {
        position: absolute;
        bottom: 4rem;
        left: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        z-index: 20;

        .expand {
            border-radius: .5rem;
            padding: .1rem 1rem;
            border: none;
            background: $mainRed;
            color: #fff;
            font-size: 0.75rem;
            transition: all 0.3s ease;
            box-shadow: 4.12722px 4.95266px 3.30178px rgba(0, 0, 0, 0.25);

            &:hover {
                transform: translateY(-0.2rem);
                background-color: white;
                color: $mainRed;
                box-shadow: 1.12722px 7.95266px 3.30178px rgba(0, 0, 0, 0.15);
            }
        }
    }

    .svgContainer {
        margin: 0 auto;
        height: 100% !important;
        //height: 56vh !important;        
        background-color: #890019;
        background-image: url('/Map/bg_desktop_sem_icones.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        
        transition: all 0.6s ease;

        .startCircle{
            font-size: 2rem;
            *{text-decoration: none;}
        }

        .hidden{
            display: none;
            pointer-events: none;
        }

        .shadow{
            //box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
            filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .25));
        }
    }

    &.open {
        height: 55vh;
    }

    &.closed {
        height: 55vh;
    }
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
}



@media (max-width: 1500px){
    .parent{
        :global(.btn-ifood-light.mainRed){
            display: flex;
            flex-direction: column;
        }
    }
}
@media (max-width: 1350px){
    .parent{
        :global(.btn-ifood-light.mainRed){
            text-align: center;
        }
    }
}

/* 
@media (max-width: 1024px) {
    .parent{
        height: calc(100vw / 2.2) !important;
    }
}

@media (max-width: 1024px) and (max-height: 600px) {
    .parent{
        height: calc(100vw / 1.8) !important;
    }
}

@media (max-width: 1280px) {
    .parent{
        height: calc(100vw / 1.8) !important;
    }
}

@media (max-width: 1366px) {
    .parent{
        height: calc(100vw / 1.7) !important;
    }
}

@media (max-width: 1440px) {
    .parent{
        height: calc(100vw / 1.9) !important;
    }
}

@media (max-width: 1600px) {
    .parent{
        height: calc(100vw / 1.7) !important;
    }
}

@media (max-width: 1680px) {
    .parent{
        height: calc(100vw / 1.9) !important;
    }
}

@media (max-width: 1920px) and (max-height: 1200px) {
    .parent{
        height: calc(100vw / 1.9) !important;
    }
} */