.parent{
    width: 100%;
    transition: all 0.6s ease;
    background: #9FD558;
    position: relative;

    .expand{
        position: absolute;
        bottom: 3.5rem;
        left: 1rem;
        border-radius: .5rem;
        padding: .1rem 1rem;
        border: none;
        font-size: 0.75rem;
        transition: all 0.3s ease;
        box-shadow: 4.12722px 4.95266px 3.30178px rgba(0, 0, 0, 0.25);

        &:hover{
            transform: translateY(-0.2rem);
            background-color: white;
            box-shadow: 1.12722px 7.95266px 3.30178px rgba(0, 0, 0, 0.15);
        }
    }

    svg{
        border: 1px solid black;   
    }

    &.open{
        height: 75vh;
    }
    &.closed{
        height: 35vh;
    }
}

.controls{
    position: absolute;
    top: 0;
    left: 0;
}