@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.parent {
  width: 100% !important;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background: #890019;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.parent .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.parent .col:first-of-type {
  padding-left: 0.5rem;
}

.parent .col:last-of-type {
  padding-right: 0.5rem;
}

.parent .col :global(.warning-popup) {
  background-color: #890019;
  position: absolute;
  width: 12vw;
  right: -20vw;
  bottom: 0;
  border-radius: 0.75rem;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.parent .col :global(.warning-popup) :global(.btn-ifood-light) {
  position: absolute;
  right: 0;
  top: -2rem;
  cursor: pointer;
}

.parent .buttonGroup {
  position: absolute;
  bottom: 4rem;
  left: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
  z-index: 20;
}

.parent .buttonGroup .expand {
  border-radius: .5rem;
  padding: .1rem 1rem;
  border: none;
  background: #EA1D2C;
  color: #fff;
  font-size: 0.75rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 4.12722px 4.95266px 3.30178px rgba(0, 0, 0, 0.25);
          box-shadow: 4.12722px 4.95266px 3.30178px rgba(0, 0, 0, 0.25);
}

.parent .buttonGroup .expand:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  background-color: white;
  color: #EA1D2C;
  -webkit-box-shadow: 1.12722px 7.95266px 3.30178px rgba(0, 0, 0, 0.15);
          box-shadow: 1.12722px 7.95266px 3.30178px rgba(0, 0, 0, 0.15);
}

.parent .svgContainer {
  margin: 0 auto;
  height: 100% !important;
  background-color: #890019;
  background-image: url("/Map/bg_desktop_sem_icones.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.parent .svgContainer .startCircle {
  font-size: 2rem;
}

.parent .svgContainer .startCircle * {
  text-decoration: none;
}

.parent .svgContainer .hidden {
  display: none;
  pointer-events: none;
}

.parent .svgContainer .shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
}

.parent.open {
  height: 55vh;
}

.parent.closed {
  height: 55vh;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
}

/* 
@media (max-width: 1024px) {
    .parent{
        height: calc(100vw / 2.2) !important;
    }
}

@media (max-width: 1024px) and (max-height: 600px) {
    .parent{
        height: calc(100vw / 1.8) !important;
    }
}

@media (max-width: 1280px) {
    .parent{
        height: calc(100vw / 1.8) !important;
    }
}

@media (max-width: 1366px) {
    .parent{
        height: calc(100vw / 1.7) !important;
    }
}

@media (max-width: 1440px) {
    .parent{
        height: calc(100vw / 1.9) !important;
    }
}

@media (max-width: 1600px) {
    .parent{
        height: calc(100vw / 1.7) !important;
    }
}

@media (max-width: 1680px) {
    .parent{
        height: calc(100vw / 1.9) !important;
    }
}

@media (max-width: 1920px) and (max-height: 1200px) {
    .parent{
        height: calc(100vw / 1.9) !important;
    }
} */
/*# sourceMappingURL=D3.module.css.map */