.parent{
    width: 100%;
    transition: all 0.6s ease;
    background: #9FD558;

    svg{
        border: 1px solid black;
    }

    &.open{
        height: 75vh;
    }
    &.closed{
        height: 35vh;
    }
}

.controls{
    position: absolute;
    top: 0;
    left: 0;
}